.idea/workspace.xml
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/app/.DS_Store

/app/logs/.gitkeep

/app/cache/.gitkeep

/.idea/workspace.xml

/composer.lock

/src/Blog/.DS_Store
