{% extends '::base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1 class="user">Hello {{ name }}</h1>
    <br>
    <h2 class="number">Something here...</h2>
{% endblock %}

{% block javascripts %}
{% endblock %}